In [117]:
import pandas as pd
import numpy as np
from datetime import date

In [99]:
#Lendo o csv:
df = pd.read_csv("./Databases/ufc-master.csv")

#Filtrando os dados desejados:
df = df[["R_fighter","B_fighter","date","location","country","Winner","title_bout","weight_class","gender","R_age","B_age","B_total_title_bouts","R_total_title_bouts"]]

In [100]:
#Criando novas colunas no dataframe:
df['Winner_w'] = np.NaN
df['Loser'] = np.NaN
df['W_age'] = np.NaN
df['L_age'] = np.NaN
df['W_titles'] = np.NaN
df['L_titles'] = np.NaN

#Adicionando os vencedores na coluna Winner e os perdedores na coluna Loser,
#o mesmo com as idades nas respectivas colunas(W_age,L_age):
for index, row in df.iterrows():
    if row['Winner'] == "Blue":
        df.loc[index,'Winner_w'] =  df.loc[index,'B_fighter']
        df.loc[index,'Loser'] =  df.loc[index,'R_fighter']
        df.loc[index,'W_age'] =  df.loc[index,'B_age']
        df.loc[index,'L_age'] =  df.loc[index,'R_age']
        df.loc[index,'W_titles'] =  df.loc[index,'B_total_title_bouts']
        df.loc[index,'L_titles'] =  df.loc[index,'R_total_title_bouts']

    elif row['Winner'] == "Red":
        df.loc[index,'Winner_w'] =  df.loc[index,'R_fighter']
        df.loc[index,'Loser'] =  df.loc[index,'B_fighter']
        df.loc[index,'W_age'] =  df.loc[index,'R_age']
        df.loc[index,'L_age'] =  df.loc[index,'B_age']
        df.loc[index,'W_titles'] =  df.loc[index,'R_total_title_bouts']
        df.loc[index,'L_titles'] =  df.loc[index,'B_total_title_bouts']

In [101]:
#Filtrando novamente os dados, agora retirando as colunas R_fighter,B_fighter, Winner, R_age e B_age:
df = df[["Winner_w","Loser","date","location","country","title_bout","weight_class","gender","W_age","L_age",'W_titles','L_titles']] 

#Renomeando a coluna Winner_w, chamando a de Winner:
df.rename(columns={'Winner_w':'Winner'}, inplace=True)

In [102]:
df["year"] = [i[-4:] for i in df["date"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4464 entries, 0 to 4463
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Winner        4464 non-null   object
 1   Loser         4464 non-null   object
 2   date          4464 non-null   object
 3   location      4464 non-null   object
 4   country       4464 non-null   object
 5   title_bout    4464 non-null   bool
 6   weight_class  4464 non-null   object
 7   gender        4464 non-null   object
 8   W_age         4464 non-null   float64
 9   L_age         4464 non-null   float64
 10  W_titles      4464 non-null   float64
 11  L_titles      4464 non-null   float64
 12  year          4464 non-null   object
dtypes: bool(1), float64(4), object(8)
memory usage: 423.0+ KB

In [103]:
df["title_bout"] = df["title_bout"].astype(float)#Fazendo essa mudança para não dar erro quando for fazer o dump para JSON
df.head(10)

,Winner,Loser,date,location,country,title_bout,weight_class,gender,W_age,L_age,W_titles,L_titles,year
0,Glover Teixeira,Thiago Santos,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Light Heavyweight,MALE,41.0,36.0,1.0,1.0,2020
1,Andrei Arlovski,Tanner Boser,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Heavyweight,MALE,41.0,29.0,5.0,0.0,2020
2,Raoni Barcelos,Khalid Taha,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Bantamweight,MALE,33.0,28.0,0.0,0.0,2020
3,Yan Xiaonan,Claudia Gadelha,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Women's Strawweight,FEMALE,31.0,31.0,0.0,1.0,2020
4,Trevin Giles,Bevon Lewis,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Middleweight,MALE,28.0,29.0,0.0,0.0,2020
5,Giga Chikadze,Jamey Simmons,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Featherweight,MALE,32.0,28.0,0.0,0.0,2020
6,Alexandr Romanov,Marcos Rogerio de Lima,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Heavyweight,MALE,29.0,35.0,0.0,0.0,2020
7,Darren Elkins,Eduardo Garagorri,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Featherweight,MALE,36.0,31.0,0.0,0.0,2020
8,Max Griffin,Ramiz Brahimaj,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Welterweight,MALE,34.0,27.0,0.0,0.0,2020
9,Gustavo Lopez,Anthony Birchak,11/7/2020,"Las Vegas, Nevada, USA",USA,0.0,Bantamweight,MALE,31.0,34.0,0.0,0.0,2020

## Tabela fighters

In [131]:
#Criando uma dataframe com todos os lutadores
df_fighters= df[["Winner","gender","W_age","W_titles",'year', 'date']]
df_fighters_l = df[["Loser","gender","L_age","L_titles",'year','date']]


df_fighters.columns = ['name', 'gender','age','title_bout','year','date']
df_fighters_l.columns = ['name', 'gender','age','title_bout','year','date']

df_fighters = df_fighters.append(df_fighters_l)


#Mudando os tipos de algumas colunas e ordenando pela data da luta

df_fighters["year"] = df_fighters["year"].astype(float)
df_fighters['date'] = pd.to_datetime(df_fighters['date'])
df_fighters["age"] = df_fighters["age"].astype(float)

df_fighters = df_fighters.sort_values(['date'], ascending = False)
df_fighters

                      name gender   age  title_bout    year       date
0          Glover Teixeira   MALE  41.0         1.0  2020.0 2020-11-07
1          Andrei Arlovski   MALE  41.0         5.0  2020.0 2020-11-07
9          Anthony Birchak   MALE  34.0         0.0  2020.0 2020-11-07
8           Ramiz Brahimaj   MALE  27.0         0.0  2020.0 2020-11-07
7        Eduardo Garagorri   MALE  31.0         0.0  2020.0 2020-11-07
...                    ...    ...   ...         ...     ...        ...
4458  Vladimir Matyushenko   MALE  39.0         1.0  2010.0 2010-03-21
4457            Clay Guida   MALE  28.0         0.0  2010.0 2010-03-21
4453             Jon Jones   MALE  22.0         0.0  2010.0 2010-03-21
4454     Junior Dos Santos   MALE  26.0         0.0  2010.0 2010-03-21
4463          Eric Schafer   MALE  32.0         0.0  2010.0 2010-03-21

[8928 rows x 6 columns]

In [132]:
#Criando um id para cada lutador
id_fighters_list = list(range(1,1651))

df_fighters['name'].unique()

id_fighters = dict(zip(df_fighters['name'].unique(),id_fighters_list))

#Adicionando a tabela id
df_fighters["id_fighters"] = [id_fighters[i] for i in df_fighters["name"]]

#Calculando o ano de nascimento e filtrando o dataframe
df_fighters["born_year"] = df_fighters["year"] - df_fighters["age"] 

df_fighters = df_fighters[['id_fighters','name', 'gender','title_bout',"born_year"]] 

#Pegando os dados mais recentes de cada lutador a partir do seu id
#Vale ressaltar  que há uma margem de erro no ano 

df_fighters  = df_fighters .drop_duplicates(subset='id_fighters', keep='first')

In [129]:
df_fighters

      id_fighters               name gender  title_bout  born_year
0               1    Glover Teixeira   MALE         1.0     1979.0
1               2    Andrei Arlovski   MALE         5.0     1979.0
9               3    Anthony Birchak   MALE         0.0     1986.0
8               4     Ramiz Brahimaj   MALE         0.0     1993.0
7               5  Eduardo Garagorri   MALE         0.0     1989.0
...           ...                ...    ...         ...        ...
4434         1646        Nate Quarry   MALE         1.0     1972.0
4448         1647       Rory Markham   MALE         0.0     1982.0
4461         1648      Chase Gormley   MALE         0.0     1983.0
4457         1649    Shannon Gugerty   MALE         0.0     1982.0
4455         1650     Paul Buentello   MALE         1.0     1974.0

[1650 rows x 5 columns]

## Tabela year

In [137]:
df_year = df['year']
df_year.columns = ['id_year']
df_year = df_year.drop_duplicates()

In [138]:
df_year

0       2020
343     2019
898     2018
1369    2017
1809    2016
2292    2015
2756    2014
3250    2013
3626    2012
3959    2011
4254    2010
Name: year, dtype: object